<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="shortcut icon" href="{{static_url('favicon.ico')}}">
<link rel="stylesheet" href="{{static_url('plugins/bootstrap/css/bootstrap.min.css')}}"/>
<link rel="stylesheet" href="{{static_url('plugins/flat-ui/css/flat-ui.css')}}"/>
<script src="{{static_url('plugins/jquery/jquery.min.js')}}"></script>
<script src="{{static_url('plugins/bootstrap/js/bootstrap.min.js')}}"></script>
<script src="{{static_url('plugins/flat-ui/js/flat-ui.min.js')}}"></script>
<style>
.row{
   margin-top: 20px;;
}

.center{
    text-align: center;
}
.pagination{
    background: #cccccc;
}
.image_container
{
    color: white;
    height: 150px;
    background-image: url('static/images/recognize.jpg');
}
.footer
{
    width: 100%;
    text-align: center;
    position:fixed;
    margin-bottom: 0;
    bottom: 0;
}
.footer_container
{
    margin: auto;
}
</style>
<script>
    $(function(){
        $('#myTabs a').click(function (e) {
            $(this).tab('show')
        });
    })
</script>